<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Pemasok</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/obat/id/<%=obat.id %>?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nama Pemasok</label>
            <input
              type="text"
              class="form-control namaPemasok"
              id="namaPemasok"
              name="namaPemasok"
              placeholder="Masukan Nama Pemasok"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Alamat</label>
            <input
              type="text"
              class="form-control alamatPemasok"
              id="alamatPemasok"
              name="alamatPemasok"
              placeholder="Masukan Alamat Pemasok"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>